---
import '../styles/services.css';
---
<div class="card-container">
    <div class="card">
      <div class="card-icon"><i class="fas fa-code"></i></div>
      <h3>Application Design</h3>
      <p>Ronsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  
    <div class="card">
      <div class="card-icon"><i class="fas fa-globe"></i></div>
      <h3>Web Hosting</h3>
      <p>Ronsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  
    <div class="card">
      <div class="card-icon"><i class="fas fa-bullhorn"></i></div>
      <h3>Social Media</h3>
      <p>Ronsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  
    <div class="card">
      <div class="card-icon"><i class="fas fa-chart-line"></i></div>
      <h3>SEO Optimization</h3>
      <p>Ronsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  
    <div class="card">
      <div class="card-icon"><i class="fas fa-cloud"></i></div>
      <h3>Cloud Server</h3>
      <p>Ronsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  
    <div class="card">
      <div class="card-icon"><i class="fas fa-lock"></i></div>
      <h3>Data Secuity</h3>
      <p>Ronsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>