---
import '../styles/testimonials.css';
---

<section class="testimonials">
    <h2>Testimonials</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    
    <div class="testimonial-cards " >
      <div class="testimonial-card">
        <div class="profile-image">
          <img src="https://picsum.photos/700/400?random" alt="Jhone Doe">
        </div>
        <div class="details">
          <h4>Jhone Doe</h4>
          <!-- <a href="https://codepen.io/MuzammalAhmed/pen/VwVNPbL" target="_blank">carusel mas llamativo</a> -->
          <p>CEO</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <p class="quote">"Proin iaculis purus consequat sem, cura digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam."</p>
        </div>
      </div>
      <div class="testimonial-card">
        <div class="profile-image">
          <img src="https://picsum.photos/700/400?random" alt="Afa Rose">
        </div>
        <div class="details">
          <h4>Afa Rose</h4>
          <p>Web Designer</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <p class="quote">"Export tempor illum tamen malis malis eram quae rure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet."</p>
        </div>
      </div>
      <div class="testimonial-card">
        <div class="profile-image">
          <img src="https://picsum.photos/700/400?random" alt="Keena Lara">
        </div>
        <div class="details">
          <h4>Keena Lara</h4>
          <p>Store Owner</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <p class="quote">"Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis minim."</p>
        </div>
      </div>
    </div>
    <!-- <div class="dots">
      <span class="dot active" data-index="0"></span>
      <span class="dot" data-index="1"></span>
      <span class="dot" data-index="2"></span>
    </div>  -->
   
  </section>
  <script >

</script>